@tailwind base;
@tailwind components;
@tailwind utilities;

/* add spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.force-mobile {
  @media (min-width: 769px) {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
